<!-- Screen Content Area -->
<ion-tabs class="tabs-striped tabs-background-dark tabs-color-light tabs-top">
  <ion-tab title="Connections" icon-on="ion-android-wifi" icon-off="ion-android-wifi" href="#/app/connections">
    <ion-nav-view name="tab-connections"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Control" icon-on="ion-speedometer" icon-off="ion-speedometer" href="#/app/control">
    <ion-nav-view name="tab-control"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Telemetry" icon-on="ion-stats-bars" icon-off="ion-stats-bars" href="#/app/telemetry">
    <ion-nav-view name="tab-telemetry"></ion-nav-view>
  </ion-tab>
</ion-tabs>
